.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 5px;
    font-family: "Merriweather";
}

:root {
    --new-color: lightyellow;
}

body {
    background-color: var(--new-color, rgb(240, 255, 255));
}

h1 {
    color: blue;
    background-color: color(srgb 0.4 0.8 1);
}

h2 {
    color: #ffee02;
    background-color: hsla(288, 85%, 49%, 0.674);
}

h3 {
    color: rgb(0,255,0);
    background-color: aliceblue;

}

h1 ~ h3 {
    position: sticky;
    top: 0;
}

p {
    color:color-mix(in hsl shorter hue,red 50%, blue 80%);
    text-decoration: overline;
    text-align: center;
}

nav {
    margin: 1em 2em 1em 2em;
    padding: 25px 50px 25px 50px;
    border-style: groove;
    border-width: 1dvw;
    border-color: #efb340;
    border-radius: 5%;
}

#attendance {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 5%;
}

section > video {
    height: auto;
    width: 1000px;
    max-height: 500px;
    max-width: 100%;
}

input[type="checkbox"] {
    accent-color: lightgreen;
}

button:hover {
    color: grey;
}

button:active {
    color: white;
    background-color: red;
    border-width: 0.2em;
    border-style: solid;
}

.input-zone1 {
    display: flex;
    position: static;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.input-zone1 > input[type="radio"] {
    display: none;  
}

.input-zone1 #form-radio + label {
    display: none;
}

.input-zone1 select, .input-zone1 textarea, .input-zone1 datalist {
    flex-grow: 5;
}

.input-zone2 {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 40% 50% 25%;
}

.input-zone2 button {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.input-zone2 label {
    align-self: center;
}

@media screen and (max-width: 700px) {
    section > video {
        height: auto;
        width: 300px;
        max-height: 150px;
        max-width: 100%;
    }

    nav {
        padding: 10px 15px 10px 15px;
    }
}

@media screen and (max-width: 1000px) {
    section > video {
        height: auto;
        width: 600px;
        max-height: 300px;
        max-width: 100%;
    }
}






